---
import GradientWrapper from "../GradientWrapper.astro";
import Title from "../Title.astro";
import Card from "../WorldCard.astro";
import Section from "./Section.astro";

import fondo from "src/assets/img/bg/Rectangle 41.png";

interface Props {
  title: string;
  description: string;
  position: string;
}

const cards = [
  {
    title: "Bono de bienvenida",
    description:
      "Al registrarte, recibirás tus primeros 16 WLD (tokens), en menos de 48 horas. Úsalos, cámbialos a soles o hazlos crecer.",
    position: "center",
  },
  {
    title: "Recompensas mensuales",
    description:
      "Cada mes, en tu aniversario de registro, puedes reclamar más tokens WLD durante todo un año.",
    position: "center",
  },
  {
    title: "Refiere y gana",
    description:
      "Comparte tu código único hasta con 10 personas, y por cada referido que se registre, ganas más tokens WLD.",
    position: "center",
  },
];

const { title, description, position } = Astro.props;
---
<Section 
  style={`background-image: url(${fondo.src})`}
  class="bg-cover bg-center min-h-screen"
>
  <Title title="Beneficios" />
  <div class="container flex mx-auto flex-col gap-15 md:gap-6 px-6 justify-center items-center">
    {
      cards.map((card) => (
        <div class="flex md:w-150">
          <GradientWrapper>
            <Card {...card} />
          </GradientWrapper>
        </div>
      ))
    }
    <GradientWrapper>
      <GradientWrapper>
        <div class="mx-50 flex flex-col items-center">
          <p class="text-center text-3xl mt-3 md:text-5xl">¡Puedes ganar hasta</p>
          <p class="text-center my-3 text-5xl font-bold md:text-6xl">S/600!</p>
          <p class="text-center my-3">Ya son más de 10 millones de personas verificadas</p>
        </div>
      </GradientWrapper>
    </GradientWrapper>
  </div>
</Section>
