---
import Title from "../Title.astro";
import TextBlock from "../TextBlock.astro";
import Section from "../Section.astro";

import fondo from "src/assets/img/bg/Rectangle 41.png";

const cards = [
  {
    title: "Bono de bienvenida",
    description:
      "Al registrarte, recibirás tus primeros 16 WLD (tokens), en menos de 48 horas. Úsalos, cámbialos a soles o hazlos crecer.",
    position: "center",
  },
  {
    title: "Recompensas mensuales",
    description:
      "Cada mes, en tu aniversario de registro, puedes reclamar más tokens WLD durante todo un año.",
    position: "center",
  },
  {
    title: "Refiere y gana",
    description:
      "Comparte tu código único hasta con 10 personas, y por cada referido que se registre, ganas más tokens WLD.",
    position: "center",
  },
];
---

<Section id="benefits">
  <Title title="Beneficios" />
  <div
    class="flex flex-col md:flex-row gap-6 mx-8 justify-center items-start"
  >
    {
      cards.map((card) => (
        <>
          <div class="md:w-200 md:min-h-70 rounded-lg border-white border-1 p-5 hover:bg-white/10 transition-all">
            <TextBlock {...card} />
          </div>
        </>
      ))
    }
  </div>

  <div class="my-20 py-5 flex flex-col items-center border-b-2 border-t-2">
    <p class="text-center text-3xl m-3 md:text-6xl">¡Puedes ganar hasta</p>
    <p class="text-center my-3 text-5xl font-extrabold md:text-6xl">S/600!</p>
    <p class="text-center my-3">
      Ya son más de 10 millones de personas verificadas
    </p>
  </div>
</Section>
