---
import GradientWrapper from "../GradientWrapper.astro";
import Title from "../Title.astro";
import Card from "../WorldCard.astro";
import Section from "./Section.astro";

const cards = [
  {
    title: "Bono de bienvenida",
    description:
      "Al registrarte, recibirás tus primeros 16 WLD (tokens), en menos de 48 horas. Úsalos, cámbialos a soles o hazlos crecer.",
    position: "center",
  },
  {
    title: "Recompensas mensuales",
    description:
      "Cada mes, en tu aniversario de registro, puedes reclamar más tokens WLD durante todo un año.",
    position: "center",
  },
  {
    title: "Refiere y gana",
    description:
      "Comparte tu código único hasta con 10 personas, y por cada referido que se registre, ganas más tokens WLD.",
    position: "center",
  },
];
---

<Section>
  <Title title="Beneficios" />
  <div class="container mx-auto flex-cols gap-6 px-6">
    {
      cards.map((card) => (
        <div class="flex m-8">
          <GradientWrapper>
            <Card {...card} />
          </GradientWrapper>
        </div>
      ))
    }
    <GradientWrapper class="container mx-auto">
      <GradientWrapper>
        <div class="flex flex-col items-center">
          <p class="text-center text-3xl mt-3 md:text-5xl">¡Puedes ganar hasta</p>
          <p class="text-center my-3 text-5xl font-bold md:text-6xl">S/600!</p>
          <p class="text-center my-3">Ya son más de 10 millones de personas verificadas</p>
        </div>
      </GradientWrapper>
    </GradientWrapper>
  </div>
</Section>
