---
import Title from "../Title.astro";
import TextBlock from "../TextBlock.astro";
import Section from "../Section.astro";

import world from "/src/assets/benefits/world_logo.svg";
import users from "/src/assets/benefits/users.svg";
import reward from "/src/assets/benefits/reward.svg";
import { Image } from "astro:assets";

const cards = [
  {
    image: "/src/assets/benefits/world_logo.svg",
    title: "Bono de bienvenida",
    description:
      "Al registrarte, recibirás tus primeros <strong>16 WLD (tokens)</strong>, en menos de 48 horas. Úsalos, <strong>cámbialos a soles</strong> o hazlos crecer.",
    position: "center",
  },
  {
    image: "/src/assets/benefits/reward.svg",
    title: "Recompensas mensuales",
    description:
      "Cada mes, en tu aniversario de registro, puedes reclamar <strong>más tokens WLD durante todo un año</strong>.",
    position: "center",
  },
  {
    image: "/src/assets/benefits/users.svg",
    title: "Refiere y gana",
    description:
      "Comparte tu código único hasta con <strong>10 personas</strong>, y por <strong>cada referido</strong> que se registre, ganas <strong>más tokens WLD</strong>.",
    position: "center",
  },
];
---

<Section id="benefits">
  <Title title="Beneficios" />
  <div class="flex flex-col md:flex-row gap-6 mx-8 justify-center items-start">
    {
      cards.map((card) => (
        <>
          <div class="md:w-200 md:min-h-70 rounded-lg border-white border-1 p-5 hover:bg-white/10 transition-all">
            <div class="bg-0d1019 font-poppins text-white text-center text-left">
              <h2 class="font-bold text-2xl md:text-[30px]">{card.title}</h2>
              <p class="mt-2 mb-10 md:text-[20px]" set:html={card.description} />
              <img src={card.image} alt="world" class="w-20 h-20 mx-auto invert brightness-10" />
            </div>
          </div>
        </>
      ))
    }
  </div>

  <div class="mt-15 py-5 flex flex-col items-center border-b-2 border-t-2">
    <p class="text-center text-3xl m-3 md:text-6xl">¡Puedes ganar hasta</p>
    <p class="text-center my-3 text-5xl font-extrabold md:text-6xl">S/600!</p>
    <p class="text-center my-3">
      Ya son más de 10 millones de personas verificadas
    </p>
  </div>
</Section>
