---
import Button from "../LinkButton.astro";
import Section from "../Section.astro";
import Title from "../Title.astro";

interface OrbPoint {
  id: number;
  name: string;
}

const orbPoints: OrbPoint[] = [
  { id: 1, name: "Chao - La Libertad" },
  { id: 2, name: "Chimbote - La Libertad" },
  { id: 3, name: "Chimbote - La Libertad" },
  { id: 4, name: "Huaraz - Ánchash" },
  { id: 5, name: "Virú - La Libertad" },
  { id: 6, name: "Chiclayo" },
  { id: 7, name: "Ferreñafe" },
  { id: 8, name: "Piura" },
  { id: 9, name: "Catacaos" },
  { id: 10, name: "Bagua Grande" },
  { id: 11, name: "Morrope" },
];
---

<Section id="contact">
  <Title title="Contacto" />
  <div class="mx-8 text-white border-white border-2 rounded-2xl">
    <div class="backdrop-blur-sm rounded-2xl p-8">
      <p class="text-gray-300 text-center mb-8 md:text-[30px]">
        Si tienes alguna consulta o duda, completa el siguiente
        formulario y nos pondremos en contacto contigo lo antes posible.
      </p>

      <form
        class="space-y-6 font-light md:text-[20px]"
        action="#"
        method="POST"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <!-- Nombre(s) -->
          <div>
            <label for="nombres" class="block mb-2"> Nombre(s) </label>
            <input
              type="text"
              name="nombres"
              id="nombres"
              required
              class="md: w-full bg-[#27222a] border border-gray-700 rounded-lg px-4 py-2.5 placeholder-gray-400 transition duration-200"
            />
          </div>

          <!-- Apellidos -->
          <div>
            <label for="apellidos" class="block mb-2"> Apellidos </label>
            <input
              type="text"
              name="apellidos"
              id="apellidos"
              required
              class="md: w-full bg-[#27222a] border border-gray-700 rounded-lg px-4 py-2.5 placeholder-gray-400 transition duration-200"
            />
          </div>

          <!-- Correo electrónico -->
          <div>
            <label for="email" class="block mb-2"> Correo electrónico </label>
            <input
              type="email"
              name="email"
              id="email"
              required
              class="md: w-full bg-[#27222a] border border-gray-700 rounded-lg px-4 py-2.5 placeholder-gray-400 transition duration-200"
            />
          </div>

          <!-- Número telefónico -->
          <div>
            <label for="telefono" class="block mb-2"> Número telefónico </label>
            <input
              type="tel"
              name="telefono"
              id="telefono"
              required
              pattern="[0-9]{3}-[0-9]{3}"
              class="md: w-full bg-[#27222a] border border-gray-700 rounded-lg px-4 py-2.5 placeholder-gray-400 transition duration-200"
            />
          </div>
        </div>

        <!-- Orb point -->
        <div>
          <label for="orbPoint" class="block mb-2"> Orb point </label>
          <div class="relative">
            <select
              id="orbPoint"
              name="orbPoint"
              required
              class="md: w-full bg-[#27222a] border border-gray-700 rounded-lg px-4 appearance-none py-2.5 placeholder-gray-400 transition duration-200"
            >
              <option value="" disabled selected>Selecciona una opción</option>
              {
                orbPoints.map((point) => (
                  <option value={point.id}>{point.name}</option>
                ))
              }
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-4"
            >
              <svg
                class="h-4 w-4 text-gray-400"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-center mt-8">
          <Button text="Enviar" />
        </div>
      </form>
    </div>
  </div>
</Section>

<style>
  /* Custom styles for select dropdown */
  select option {
    background-color: #1f2937; /* bg-gray-800 */
    color: white;
  }
</style>
