---
import Button from "../LinkButton.astro";
import GradientWrapper from "../GradientWrapper.astro";
import Title from "../Title.astro";
import Section from "../Section.astro";
---

<Section id="register">
  <Title title="Cómo registrarme?" />
  <div
    class="mx-8 text-white flex items-center justify-center rounded-lg border border-white p-5"
  >
    <div class="flex mx-auto flex-col items-center text-center w-full max-w-3xl p-4">
      <ol
        class="list-decimal list-inside text-left text-2xl font-light mx-auto md:w-3/4 md:text-[30px] space-y-5"
      >
        <li>Descarga el aplicativo World App desde Play Store o App Store.</li>
        <li>Genera una cita de verificación.</li>
        <li>
          Dirígete al punto de registro más cercano de tu localidad. ¡Y listo!
        </li>
      </ol>
      <p class="text-xl my-5 md:text-[24px]">
        El equipo de Crypnita te acompañará hasta el final.
      </p>
      <div class="flex space-x-10 justify-center mt-5">
        <Button text="Puntos de registro" />
        <Button text="Descargar App" />
      </div>
    </div>
  </div>
</Section>
