---
import Section from "../Section.astro";
import Title from "../Title.astro";
import Card from "../Card.astro";

const sectionCards = [
  {
    imagePath: "/src/assets/world/world1.png",
    title: "¿Qué es World?",
    altText: "¿Qué es World?",
    description:
      "Para construir un sistema de identidad digital y financiero justo, confiable y accesible, conectamos a una <strong>red global</strong> de <strong>personas reales</strong>.",
  },
  {
    imagePath: "/src/assets/world/world2.png",
    title: "¿Qué es World ID?",
    altText: "¿Qué es World?",
    description:
      "Para <strong>proteger tu privacidad</strong> y evitar el spam, esta herramienta te permite demostrar que eres único y real en internet. En el futuro, será clave para los servicios online a medida que avance la <strong>inteligencia artificial</strong>.",
  },
  {
    imagePath: "/src/assets/world/world3.png",
    title: "¿Y mis datos?",
    altText: "¿Qué es World?",
    description:
      "Para brindarte un <strong>pasaporte digital seguro y anónimo</strong>, el Orb crea una clave encriptada y tu pasaporte digital seguro y anónimo <strong>sin almacenar tu información personal</strong>.",
  },
  {
    imagePath: "/src/assets/world/world4.png",
    title: "¿Cómo funciona?",
    altText: "¿Qué es World?",
    description:
      "Para <strong>garantizar</strong> que cada persona sea real, utilizamos el <strong>Orb</strong>, un dispositivo que verifica la identidad mediante un <strong>escaneo único</strong>.",
  },
];
---

<Section id="world">
  <Title title="World" />
  <div class="mx-8 flex flex-col gap-10">
    {sectionCards.map((card) => {
      return (
        <div class="container mx-auto md:items-center md:justify-center">
          <Card {...card} />
        </div>
      );
    })}
  </div>
</Section>