---
import Layout from "../layouts/Layout.astro";
import WorldSection from "@/components/sections/WorldSection.astro";
import BenefitsSection from "@/components/sections/BenefitsSection.astro";
import HeroSection from "@/components/sections/HeroSection.astro";
import ContactSection from "@/components/sections/ContactSection.astro";
import LocationsSection from "@/components/sections/LocationsSection.astro";
import RegisterSection from "@/components/sections/RegisterSection.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="CRYPNITA - Identidad anónima digital">
	<div class="overflow-hidden">
		<HeroSection />
		<WorldSection />
		<BenefitsSection />
		<LocationsSection />
		<RegisterSection />
		<ContactSection />
		<Footer />
	</div>
</Layout>
