---
const headerItems = [
  { name: "World", href: "#world" },
  { name: "Orbpoints", href: "#orb-points" },
  { name: "Beneficios", href: "#benefits" },
  { name: "Cómo registrarme", href: "#register" },
  { name: "App", href: "#app" },
  { name: "Solicita información", href: "#contact" },
];
---

<nav class="flex justify-between items-center mb-5 md:mb-10">
  <h1 class="text-5xl font-bold md:pl-4">CRYPNITA</h1>
  <!-- menú desktop -->
  <div class="hidden md:flex flex-row gap-4 pr-6">
    {
      headerItems.map((item) => (
        <a
          href={item.href}
          class="text-center text-lg font-semibold font-poppins p-4 hover:scale-110 hover:text-[#FFA500] transition-transform duration-300 ease-in-out transform"
        >
          {item.name}
        </a>
      ))
    }
  </div>

  <!-- botón burger móvil -->
  <div class="md:hidden">
    <button id="menu-btn" class="md:hidden text-white focus:outline-none">
      <svg
        class="w-8 h-8"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>
</nav>
<!-- menú móvil -->
<div
  id="mobile-menu"
  class="block w-full transition-all duration-300 opacity-0 h-0 overflow-hidden transform md:hidden"
>
  <div class="flex flex-col items-left gap-2 px-4">
    {
      headerItems.map((item) => (
        <a href={item.href} class="hover:text-[#FFA500]">
          {item.name}
        </a>
      ))
    }
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuBtn = document.getElementById("menu-btn");
    const mobileMenu = document.getElementById("mobile-menu");

    if (menuBtn && mobileMenu) {
      menuBtn.addEventListener("click", () => {
        mobileMenu.classList.toggle("opacity-100");
        mobileMenu.classList.toggle("h-auto");
        mobileMenu.classList.toggle("opacity-0");
        mobileMenu.classList.toggle("h-0");
      });
    }
  });
</script>
