---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-m-30 md:scroll-m-20 container mx-auto my-10 md:py-10 text-white`}
>
  <slot />
</section>
