---
const { title } = Astro.props;
---

<h3 class="relative text-5xl md:text-[64px] font-extrabold text-white text-left my-10 mx-8 group">
  {title}
  <span
    class="absolute left-0 bottom-0 h-1 w-0 bg-white transition-all duration-500 group-hover:w-full"
  ></span>
</h3>
