---
import { ViewTransitions } from 'astro:transitions';
import '../styles/global.css'; // Asegúrate de que esta ruta sea correcta
import fondo from "src/assets/img/home.png";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

